
@(chatgroupForm: Form[model.ChatgroupFormData],chatgroupss : Seq[model.Chatgroup],userid: String)(implicit request: RequestHeader)


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Register</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
<script language="javascript" src="js/js.js"></script>
</head>
<body>
<div style="width:30%;margin: 0 auto; margin-top:15px; ">
  <table class="table11">
    <tr>
      <th style="padding:0 0 0 0; width:30%;"></th>
      <th style="padding:0 0 0 0;"></th>
    </tr>
    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>
           <form id="chatgroup-data-form" role="form" action='@routes.ChatgroupController.createchatgroup_processdata()' method="post" >
    
    <tr>
      <td style="text-align:right;">Group_Name</td>
      <td style="text-align:left;"><input name="group_name" id="group_name" type="test" style="width:85%;" value="">      </td>
    </tr>
    
    <input name="owner" id="owner" type="hidden" value="@userid">
    <input name="members" id="members" type="hidden" value=",">
    <tr>
      <td colspan="2" align="center"><input type="submit" name="Submit" value="create" class="btn" onmouseover="changebg(this,'1')" onmouseout="changebg(this,'1')">
        &nbsp;&nbsp;
        <input name="Submit2222" type="submit"  onclick="javascript:history.go(-1)" value="return" class="btn" onmouseover="changebg(this,'1')" onmouseout="changebg(this,'1')" />      </td>
    </tr>
    
  </table>
  </form>
</div>
</body>
</html>
