@(chatgroupForm: Form[model.ChatgroupFormData],chatgroups : Seq[model.Chatgroup],userid: String)(implicit request: RequestHeader)



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>List</title>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<script language="javascript" src="js/invite.js"></script>
</head>
<body style="background-color:#FFFFFF">
<div style="width:30%; margin: 0 auto; margin-top:25px; margin-left: 10px;">
  <table class="table11" style="width: 750px;">
    <tr>
      <th style="padding:0 0 0 0; width: 15%; text-transform:none;">Group Name:</th>
      <th style="padding:0 0 0 0; width: 33%; text-transform:none;">Group Description:</th>
      <th style="padding:0 0 0 0; width: 20%; text-transform:none;">Invite new Memebrs:</th>
      <th style="padding:0 0 0 0; width: 17%; text-transform:none;">Group Operation:</th>
    </tr>
    
     @for(chatgroup <- chatgroups){
    <tr>
      <td style="text-align:left;">@chatgroup.group_name</td>
      <td style="text-align:left;">@chatgroup.description</td>
      <td style="text-align:left;">
          <a style="text-decoration:underline; color:#0000FF" href="javascript:void(0)" onclick="inviteMember(@chatgroup.idc)" >Invite</a>
      </td>
      <td style="text-align:left;">
          <a style="text-decoration:underline; color:#0000FF" href="@routes.ChatgroupController.exitChatgroup(chatgroup.idc.toString+":"+chatgroup.members+":"+userid)">Exit</a></td>
    </tr>
         
    }
   
  </table>
</div>
</body>
</html>
