
@(userForm: Form[model.UserFormData],users : Seq[model.User])




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Communicourse Register</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <style>
		td.LoginTbLeft {
    width: 65%;
}
.LoginTop {
    height: 0px;
}
		
	</style>
</head>

<body>

    <form id="user-data-form" role="form" action='@routes.UserController.addUser()' method="post" >

    <div class="LoginBottomBg">

        <div class="LoginTopBg">

            <div class="LoginBox">

                <div class="LoginTop">

                    &nbsp;

                </div>

                <div class="LogoImg">

                    &nbsp;

                </div>

                <table class="LoginTb">
                    
                    <tr>

                        <td class="LoginTbLeft">

                           <h2>Communicourse Registration</h2>  <br>

                      </td>
                        

				  <td rowspan="3" class="LoginTbRight"> </td> </tr>
                   

                    <tr>

                        <td class="LoginTbLeft">

                            User name:

                              <input name="userName" id="userName" type="text" style="width:180px; height:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      </td>
                        

				  <td rowspan="3" class="LoginTbRight"> </td> </tr>
                    <tr>

                      <td class="LoginTbLeft"> </td>

                    </tr>

                    <tr>

                      <td class="LoginTbLeft">

                            Password:

                            <input type="password" name="password" id="password" style="width:180px; height:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>

                        </td>

                    </tr>
                    <tr>

                      <td class="LoginTbLeft">

                            Password again:

                            <input type="password" name="password_again" id="password_again" style="width:180px; height:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>

                        </td>

                    </tr>
                    
                    <tr>

                      <td class="LoginTbLeft">

                            Email:

                            <input type="email" name="email" id="email" style="width:180px; height:22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>

                        </td>

                    </tr>
                    <tr>

                      <td class="LoginTbLeft">

                            Identity:
                            <select style="width:180px; height:22px;" name="identify" id="identify" >
  <option value ="student">student</option>
  <option value ="tutor">tutor</option>
  <option value="professor">professor</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br><br>


                        </td>

                    </tr>
                    <tr>

                      <td class="LoginTbLeft">

                           <button type="submit" style="width:200px; height:30px; background-color:#f4cb42">Register Now!</button>&nbsp;&nbsp;&nbsp;

                        </td>

                    </tr>

                </table>

            </div>

        </div>

    </div>

    </form>

</body>

</html>

