
<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- HTTP 1.1 -->
	<meta http-equiv="Cache-Control" content="no-store"/>
	<!-- HTTP 1.0 -->
	<meta http-equiv="Pragma" content="no-cache"/>
	<!-- Prevents caching at the Proxy Server -->
	<meta http-equiv="Expires" content="0"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	<script type="text/javascript">
	    var domain=document.URL;
	    var domains=domain.split("/");
	    var domain2=domains[0]+"//"+domains[2];
	  
	    //alert(domain2);
	    document.write('<base href="'+domain2+'"/>');
	</script>



</head>
<body> 
			<form id='uploadform'  action="/addMessage_file/content.split('|')(0)" method="post" enctype="multipart/form-data">
			     <input type="file" name="document" id="doc">
			     <button type="submit" onclick="sendWebsocket()" >submit</button>
		    </form>
			         
			 <textarea id="message_send" rows="7" cols="93"></textarea>
			           
			          
			 
			 
			 <script type="text/javascript">
             var info=window.parent.getGroupInforamtion();
			 var myForm = document.getElementById('uploadform');
    	     myForm.setAttribute('action','/addMessage_file/'+info);
    	     
             function sendWebsocket(){
                
                 var text = document.getElementById('doc').value;
                 var pos=text.lastIndexOf("\\");
                 text=text.substring(pos+1);
                 if(text.indexOf(".jpg")!=-1 || text.indexOf(".png")!=-1||text.indexOf(".gif")!=-1||text.indexOf(".jpeg")!=-1 ||  text.indexOf(".bmp")!=-1 ) window.parent.sendmessage("img", text);
                 else window.parent.sendmessage("doc", text);
             }
	        </script>

</body>
</html>
